<section class="user-view">
    <div ng-show="user.Type != 'TempCustomer'"  ng-class="{'panel panel-default':!user.Permissions.contains('ViewSelfAdmin')}">
        <div class="panel-heading" ng-show="!user.Permissions.contains('ViewSelfAdmin')">
            <h3 class="panel-title">{{'Profile' | r | xlat}}</h3>
        </div>
        <div ng-class="{'panel-body':!user.Permissions.contains('ViewSelfAdmin')}">
            <accountnavigation />
        </div>
    </div>
    <loadingindicator title="{{'Please wait while we save your changes' | r | xlat}}" ng-show="displayLoadingIndicator"/>
    <identifyusermessage ng-show="user.Type == 'TempCustomer'" />

    <div class="col-xs-12 col-sm-6 user-login" ng-hide="showRegistration || user.Type != 'TempCustomer'">
        <form ng-show="user.Permissions.contains('ViewSelfAdmin')" name="login_existing" ng-submit="loginExisting()">
            <div class="panel panel-default" id="user_form">
                <div class="panel-heading">
                    <h3 class="panel-title">{{('Log in' | r) + ' ' + ('as existing user' | r) | xlat}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 col-md-offset-3 view-form-icon">
                        <div class="row">
                            <label class="required">{{'Username' | r | xlat}}</label>
                            <input name="username" class="form-control" type="text" ng-model="loginasuser.Username" autocomplete="off" required placeholder="{{'Username' | r | xlat}}" />
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="row">
                            <label class="required">{{'Password' | r | xlat}}</label>
                            <input name="password" class="form-control" type="password" ng-model="loginasuser.Password" autocomplete="off" required placeholder="{{'Password' | r | xlat}}" />
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input class="btn btn-medium btn-primary pull-right" type="submit" ng-disabled="login_existing.$invalid" value="{{'Log in' | r | xlat}}" />
                    <inlineerror ng-show="loginAsExistingError" title="{{loginAsExistingError}}" />
                </div>
            </div>
        </form>
        <div>
            <p>Don't have an account?
                <br />
                <a ng-click="showRegistration = true">Register Now <i class="fa fa-chevron-right"></i></a>
            </p>
        </div>
    </div>

    <div class="user-reset" ng-class="{'col-md-6': user.Type == 'TempCustomer'}"
         ng-show="user.Type == 'TempCustomer' && user.Permissions.contains('ViewSelfAdmin') && !showRegistration">
        <loadingindicator ng-show="emailResetLoadingIndicator" title="{{'Please wait while we email your verification code' | r | xlat}}" />
        <form name="login_help" ng-submit="getToken()">
            <div ng-show="!enterResetToken" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Forgot Password' | r | xlat}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6 col-md-offset-3 view-form-icon">
                        <div>
                            <label class="required">{{'Email' | r | xlat}}</label>
                            <input name="username" required class="form-control" type="text" ng-model="loginasuser.Email" autocomplete="off"
                                   placeholder="{{'Email' | r | xlat}}" />
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input class="btn btn-medium btn-primary pull-right" type="submit" ng-disabled="login_help.$invalid" value="{{'Reset' | r | xlat}}" />
                    <div class="view-inline-error" ng-show="resetPasswordError" ng-bind-html="resetPasswordError" />
                </div>
            </div>
        </form>
    </div>

    <div class="token-reset" ng-class="{'col-md-6': user.Type == 'TempCustomer'}">
        <form name="resetbytoken" ng-submit="resetWithToken()">
            <div class="panel panel-default" ng-show="enterResetToken">
                <loadingindicator ng-show="emailResetLoadingIndicator" title="{{'Please wait while we reset your password' | r | xlat}}" />
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Lost login information' | r | xlat}}</h3>
                </div>
                <div class="panel-body">
                    <p class="alert-info">{{'An email was sent with your username and verification code.' | r | xlat}}</p>
                    <div class="col-md-6 col-md-offset-3 view-form-icon">
                        <div class="row">
                            <label class="required">{{'Username' | r | xlat}}</label>
                            <input required name="username" class="form-control" type="text" ng-model="loginasuser.UserName" autocomplete="off" placeholder="{{'Username' | r | xlat}}" />
                            <br/>
                        </div>
                        <div class="row">
                            <label class="required">{{'Verification code from email' | r | xlat}}</label>
                            <input required name="token" class="form-control" type="text" ng-model="loginasuser.PasswordResetToken" autocomplete="off" placeholder="{{'Verification Code' | r | xlat}}" />
                            <br/>
                        </div>
                        <div class="row">
                            <label class="required">New {{'Password' | r}}</label>
                            <input required class="form-control" name="new_password" type="password" ng-model="loginasuser.NewPassword" placeholder="New {{'Password' | r}}" />
                            <br/>
                        </div>
                        <div class="row">
                            <label class="required">Confirm {{'Password' | r}}</label>
                            <input required class="form-control" name="confirm_password" type="password" ng-model="loginasuser.ConfirmPassword"  placeholder="Confirm {{'Password' | r}}" ng-match="loginasuser.NewPassword" />
                            <inlineerror ng-show="resetbytoken.confirm_password.$error.match" title="{{'Password' | r}}s do not match!" /><br />
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <input class="btn btn-medium btn-primary pull-right" type="submit" ng-disabled="resetbytoken.$invalid" value="{{'Reset' | r | xlat}}" />
                    <div class="view-inline-error" ng-show="resetPasswordError" ng-bind-html="resetPasswordError" />
                </div>
            </div>
        </form>
    </div>

    <div ng-show="user.Type == 'TempCustomer' && showRegistration || user.Type != 'TempCustomer'">
        <div class="col-xs-12 user-register">
            <form ng-show="user.Permissions.contains('ViewSelfAdmin')" name="user_form" ng-submit="save()">
                <div class="panel panel-default" id="user_form">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{(user.Type == 'TempCustomer' ? 'Create' : 'My') + ' ' + ('Account' | r) | xlat}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6 view-form-icon">
                            <div>
                                <label class="required">{{('First' | r) + ' ' + ('Name' | r) | xlat}}</label>
                                <input name="firstname" class="form-control" type="text" required ng-model="user.FirstName" placeholder="{{('First' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" />
                                <i class="fa fa-user"></i>
                            </div>
                            <div>
                                <label class="required">{{('Last' | r) + ' ' + ('Name' | r) | xlat}}</label>
                                <input name="lastname" required class="form-control" type="text" ng-model="user.LastName" placeholder="{{('Last' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" />
                                <i class="fa fa-user"></i>
                            </div>
                            <div>
                                <label>{{'Phone' | r | xlat}}</label>
                                <input name="phone" class="form-control" type="text" ng-model="user.Phone" ui-mask="(999) 999-9999" autocomplete="off" />
                                <i class="fa fa-phone"></i>
                            </div>
                            <div>
                                <label class="required">{{'Email' | r | xlat}}</label>
                                <input name="email" class="form-control" type="email" ng-model="user.Email" required placeholder="{{'Email' | r | xlat}}" autocomplete="off" />
                                <i class="fa fa-envelope-o"></i>
                                <inlineerror ng-show="user_form.email.Value && user_form.email.$invalid" title="{{'Please enter a valid' + ' ' +  ('Email' | rl) + ' ' + ('Address' | rl) | xlat}}" />
                            </div>
                        </div>
                        <div class="col-sm-6 view-form-icon">
                            <!--TODO: username input shouldn't default to temporary usernames, if the user is temp, make the placeholder show instead !-->
                            <!--TODO: cant update username API says "Available for write when creating new user from anonymous user."-->
                            <div>
                                <label class="required">{{'Username' | r | xlat}}</label>
                                <input name="username" class="form-control" type="text" ng-model="user.Username" ng-readonly="user.Type != 'TempCustomer'" required placeholder="{{'Username' | r | xlat}}" autocomplete="off" />
                                <i class="fa fa-user"></i>
                            </div>
                            <!--TODO: when a user is logged in, the password fields are showing placeholder instead of values !-->
                            <div>
                                <label class="required">{{'Password' | r | xlat}}</label>
                                <input name="password" class="form-control" ng-required="user.Type == 'TempCustomer'" type="password" ng-model="user.Password" placeholder="{{'Password' | r | xlat}}" autocomplete="off" />
                                <i class="fa fa-lock"></i>
                            </div>
                            <div>
                                <label class="required">{{('Confirm' | r) + ' ' + ('Password' | r) | xlat}}</label>
                                <input name="confirm_password" ng-match="user.Password" ng-required="user.Type == 'TempCustomer' || user.Password" class="form-control" type="password" ng-model="user.ConfirmPassword" placeholder="{{('Confirm' | r) + ' ' + ('Password' | r) | xlat}}" autocomplete="off" />
                                <i class="fa fa-lock"></i>
                                <inlineerror ng-show="user_form.confirm_password.$error.match" title="{{('Password' | r) + 's do not match!' | xlat}}" />
                            </div>
                            <div class="password-requirements" ng-hide="securityWarning">
                                <strong>Password Requirements</strong><br />
                                Minimum of 8 alphanumeric characters.<br />
                                Two or more of the following kinds of characters
                                <div>
                                    1. Alphabetic (e.g., a-z, A-Z)<br />
                                    2. Numeric (i.e. 0-9)<br />
                                    3. Punctuation and other characters (e.g., !@#$%^&amp;*_+.,?)
                                </div>
                            </div>
                            <br />

                            <span class="alert-warning" ng-show="securityWarning">
                                <ul>
                                    <li>{{'Your password does not meet the requirements set for length or complexity. It must be changed to meet the minimum requirements before continuing.' | xlat}}</li>
                                    <li>{{'There are three distinct password security levels. The rules are defined as:' | xlat}}</li>
                                    <ul>
                                        <li>{{'Low: No restrictions on passwords.' | xlat}}</li>
                                        <li>{{'Medium: A minimum of 6 characters required.' | xlat}}</li>
                                        <li>{{'High:' | xlat}}</li>
                                        <ul>
                                            <li>{{'Minimum of 8 alphanumeric characters.' | xlat}}</li>
                                            <li>{{'Two or more of the following kinds of characters' | xlat}}</li>
                                            <ol>
                                                <li>{{'Alphabetic (e.g., a-z, A-Z)' | xlat}}</li>
                                                <li>{{'Numeric (i.e. 0-9)' | xlat}}</li>
                                                <li>{{'Punctuation and other characters (e.g.,' | xlat}} !@#$%^&*()_+|~-=\`{}[]:";'<>?,./)</li>
                                            </ol>
                                            <li>{{'** After 6 failed logon attempts, the user will be locked out for 30 minutes.' | xlat}}</li>
                                        </ul>
                                    </ul>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div ng-if="user.CustomFields" class="col-sm-6 view-form-icon">
                            <div ng-repeat="field in user.CustomFields">
                                <customfilefield customfield="field" ng-if="field.ControlType == 'File' && field.DisplayToUser"></customfilefield>
                                <customtextfield customfield="field" ng-if="field.ControlType == 'Text' && field.DisplayToUser"></customtextfield>
                                <customselectionfield customfield="field" ng-if="field.ControlType == 'Selection' && field.DisplayToUser"></customselectionfield>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <input class="btn btn-primary pull-right" type="submit" ng-disabled="user_form.$invalid" value="{{(user.Type == 'TempCustomer' ? 'Create Account' : 'Save') | xlat}}" />
                        <span class="alert alert-info" ng-show="actionMessage" ng-bind-html="actionMessage | r | xlat"></span>
                    </div>
                </div>
            </form>
            <div ng-show="showRegistration">
                <p><a ng-click="showRegistration = false"><i class="fa fa-chevron-left"></i> Back to Login</a></p>
            </div>
        </div>
    </div>
</section>